In [1]:
import pandas as pd

In [2]:
# corriger le path
my_df = pd.read_csv('Affairs.csv', header=0, sep="|")

In [3]:
my_df.shape

(601, 1)

In [4]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 1 columns):
 #   Column                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                 --------------  -----
 0   ,"affairs","gender","age","yearsmarried","children","religiousness","education","occupation","rating"  601 non-null    object
dtypes: object(1)
memory usage: 4.8+ KB

In [5]:
my_df.describe()

       ,"affairs","gender","age","yearsmarried","children","religiousness","education","occupation","rating"
count                                                 601
unique                                                601
top                        4,0,"male",37,10,"no",3,18,7,4
freq                                                    1

In [6]:
my_df.head(2)

  ,"affairs","gender","age","yearsmarried","children","religiousness","education","occupation","rating"
0                     4,0,"male",37,10,"no",3,18,7,4
1                    5,0,"female",27,4,"no",4,14,6,4

In [7]:
my_df.tail(2)

    ,"affairs","gender","age","yearsmarried","children","religiousness","education","occupation","rating"
599                  1959,2,"male",22,7,"yes",3,18,6,2
600               9010,1,"female",32,15,"yes",3,14,1,5

In [8]:
my_df.sort_index(1)

C:\Users\HP\AppData\Local\Temp\ipykernel_11120\2079181540.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.sort_index will be keyword-only.
  my_df.sort_index(1)

    ,"affairs","gender","age","yearsmarried","children","religiousness","education","occupation","rating"
0                       4,0,"male",37,10,"no",3,18,7,4
1                      5,0,"female",27,4,"no",4,14,6,4
2                   11,0,"female",32,15,"yes",1,12,1,4
3                     16,0,"male",57,15,"yes",5,18,6,5
4                    23,0,"male",22,0.75,"no",2,17,6,3
..                                                 ...
596                1938,1,"male",22,1.5,"yes",1,12,2,5
597               1941,7,"female",32,10,"yes",2,18,5,4
598                 1954,2,"male",32,10,"yes",2,17,6,5
599                  1959,2,"male",22,7,"yes",3,18,6,2
600               9010,1,"female",32,15,"yes",3,14,1,5

[601 rows x 1 columns]